<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>List of Workouts</title>
</head>
<body>
<!--/*@thymesVar id="workout" type="me.jonlim.petclinic.model.Workout"*/-->
<h1 th:text="'List of Workout'">List of Workout</h1>

<table>
  <thead>
  <tr>
    <th>Date</th>
    <th>Workout Type</th>
    <th>Exercises</th>
    <th>Volume</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="workout : ${workouts}">
    <td th:text="${workout.workoutDate}">12/31/9999</td>
    <td th:text="${workout.workoutType.workoutName}">Back</td>
    <td>
      <table>
        <tbody>
          <tr th:each="exercise : ${workout.exercises}">
            <td th:text="${exercise.exerciseType}">Deadlift</td>
            <td>

              <table>
                <tbody>
                <tr th:each="exerciseSet : ${exercise.exerciseSetList}">
                  <td th:text="${exerciseSet.sets + ' sets X ' + exerciseSet.reps + ' reps X ' + exerciseSet.weight + ' pounds'}">
                    5 x 10 x 225
                  </td>
                </tr>
                </tbody>
              </table>

            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
